<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <title>iAbsolve</title>
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
    /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />

  </head>

  <body>
    <main>
      <div class="px-4 py-3 my-2 text-center">
        <img
          class="d-block mx-auto mb-4"
          src="{{ url_for('static', filename='images/azure-icon.svg') }}"
          alt="Azure Logo"
          width="192"
          height="192"
        />
        <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="display-6 fw-bold text-primary">Absolution</h1>
      </div>
      <form method="post" action="{{url_for('hello')}}" onsubmit="return disableButtons()">
        <div class="col-md-6 mx-auto text-center">
          <label for="name" class="form-label fw-bold fs-5">
            Confess here
          </label>
          &nbsp;Your confession is confidential
          
          <div
            class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
            <textarea
              type="text"
              class="form-control"
              id="name"
              name="name"
              style="max-width: 400px"
              rows="5"
            ></textarea>
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-5">
            <button type="submit" name="button_id" id="absolution" 
            value="absolution" 
            class="btn btn-primary btn-lg px-4 gap-3">
              Absolve Me
            </button>

            <button type="submit" id="blessing" name="button_id" 
            value="blessing" 
            class="btn btn-primary btn-lg px-4 gap-3">
              Bless Me
            </button>
          </div>

          <div class="row text-center justify-content-center">
          <select class="form-select" id="denomination" name="denomination" 
           style="width:200px" form-select-sm aria-label="Default select example">
            <option selected>Mystic</option>
            <option value="Religious Leader">Any denomination</option>
            <option value="Priest">Catholic</option>
            <option value="Pastor">Protestant</option>
            <option value="Rabbi">Jewish</option>
            <option value="Mystic">Mystic</option>
            <option value="Hindu Acharya">Hindu</option>
            <option value="Batist Preacher">Baptist</option>
            <option value="Mormon High Priest">Mormon</option>
          </select>
        </div>
      </form>
      <div class="my-4">
        <a href=# class="link-opacity-50">Please consider a donation to keep this site running</a>
<script>
  function disableButtons() {
    var btn = document.getElementById('blessing');
        btn.innerText = '...'
    btn = document.getElementById('absolution');
        btn.innerText = '...'
    return true;
  }
</script>




    </main>
  </body>
</html>
